body {
	height: 100vh;
	width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-sarif;
}


.column1 {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: max-content;
	background-color: #1F2937;
	place-items: center;
	gap: 25px;
}

.inline-header {
	display: flex;
	width: 75%;
	height: max-content;
	align-content: flex-start;
	justify-content: flex-start;

}
.logo {
	display: inline-flex;
	align-content: flex-start;
	flex: 1;
	font-size: 24px;
	color: #F9FAF8;

}
.links {
	display: inline-flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	color: #E5E7EB;
	font-size: 18px;
}

.header-box {
	display: flex;
	flex: 1;
	width: 75%;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: 15px;
	padding-bottom: 15px;
}

.header-left {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 5px;
}

.header-left .Big {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: bolder;
}
.header-left .Small {
	font-size: 18px;
	color: #E5E7EB;
}

.header-left .Button {
	font-size: 18px;
	background-color: #3882F6;
	color: #FFFFFF;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: max-content;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 5px;

}

.header-right {
	display: flex;
	flex: 1;
}

.column2 {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: max-content;
	background-color: #FFFFFF;
	place-items: center;
}	

.column2 .header-box {
	display: inline-flex;
	width: 75%;
	height: max-content;
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
	justify-content: center;

}

.column2 .block {
	display: flex;
	width: 75%;
	height: max-content;
	flex: 1;
	justify-content: space-between;
	gap: 10px;
}

.box {
	display: flex;
	width: 25%;
	height: max-content;
	flex-direction: column;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.thumbnail {
	display: flex;
	width: 100px;
	border: 2px solid blue;
	height: 100px;
	border-radius: 15px;
}

.column3 {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 20%;
	background-color: #E5E7EB;
}

.column4 {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 15%;
	background-color: #FFFFFF;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 5%;
	background-color: #1F2937;
}

