body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}


.grid-container {
	margin: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.header {
	margin:0;
	display: grid;
	justify-items: center;
	align-items: center;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr;
	background-color: #1F2937;
	gap: 25px;
	background-image: url("background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.top-bar {
	margin: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 2fr 1fr;
	width: 75%;
	height: 100%;
	gap: 10px;
}

.logo {
	margin: 0;
	font-size: 24px;
	color: #F9FAF8;
}
.links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #E5E7EB;
	gap: 10px;
	text-align: center;

}



.header-fill {
	display: grid;
	width: 75%;
	grid-template-columns: 1fr 1fr;
	height: max-content;
	justify-content: center;
	align-items: space-between;
	gap: 15px;
	padding: 15px;
	border-radius: 22px;
 	backdrop-filter: blur(10px);
	box-shadow: 10px 10px 15px;
}

.left-header {
	display: grid;
	justify-content: center;
	width: 100%;
	height: max-content;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 5px;
}

.left-header .hero {
	margin: 0;
	font-size: 48px;
	font-weight: bolder;
	color: #F9FAF8;
}

.left-header .sub {
	margin: 0;
	font-size: 18px;
	color: #E5E7EB;
	width: 75%;
	min-width: 200px;
}

.right-header {
	display: grid;
	justify-items: center;
	width: 100%;
	height: 100%;

}

.right-header img {
	width: max-content;
	height: 100%;
	max-height: 300px;
	align-items: center;
	justify-items: center;
	object-fit: contain;
	padding: 2px;
}

.left-header .button {
	display: flex;
	flex: 1;
	width: 75px;
	height: 35px;
	border-radius: 22px;
	background-color: #3882F6;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	color: #F9FAF8;
}

.main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	height: max-content;
	margin: 0;
	width: 100%;
	background-color: #FFFFFF;
}

.main .title {
	display: grid;
	justify-items: center;
	align-items: center;
	font-size: 36px;
	font-weight: bolder;
	height: max-content;
	margin-top: 40px;
}
.main .content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	gap: 15px;
	height: 500px;
	justify-items: center;
}

.boxes {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	width: 60%;
	min-width: 150px;
	height: 100%;
	justify-items: center;
	text-align: center;
	gap: 30px;
}

.boxes-gif {
	width: 100%;
	height: 75%;
	margin-top: 45px;
	border: 10px solid #3882F6;
	border-radius: 22px;
	box-shadow: 10px 10px 20px black;
	object-fit: cover;
}


.quote {
	display: grid;
	background-color: #E5E7EB;
	height: 300px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.quote-box {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	display: grid;
	width: 80%;
	height: max-content;
}

.quote-box div {
	text-align: center;
	font-size: 36px;
	font-weight: thin;
	font-style: italic;
	color: #1F2937;
}

.quote-box p {
	display: grid;
	justify-items: end;
	font-size: 18px;
	color: #1F2937;
	margin-right: 150px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
	justify-items: center;
	align-items: center;
}

.call-box {
	display: grid;
	grid-template-columns: 2fr 1fr;
	height: 100px;
	background-color: #3882F6;
	border-radius: 10px;
	justify-items: center;
	align-items: center;
		

}

.call-box .left {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin: 0;
	padding-bottom: 10px;
	color: #F9FAF8;
	justify-items: center;
	align-items: center;
}

.call-box .right {
	width: 75px;
	height: 30px;
	border: 2px solid white;
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	color: #FFFFFF;
}

.footer-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	align-items: center;
	justify-items: center;
	height: 50px;
	background-color: #1F2937;
	color: #FFFFFF;
	text-align: center;
}

